.author-div {
  text-align: center;
  padding: 1rem;
}
.author-name {
  color: #1e90ff;
  font-size: 1.3rem;
  font-family: fantasy;
}
.author-div div {
  margin-bottom: 1rem;
}
.author-introduction {
  font-size: 0.8rem;
  color: #999;
}
.account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
