.markdown-content {
  font-size: 16px !important;
  height: 80vh !important;
}

.show-html {
  height: 80vh;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  overflow: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  border-bottom: 1px solid #cbcbcb;
  display: block;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  border-radius: 0.3rem;
}

h3 {
  font-size: 24px;
}
.introduce-html {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;

  background-color: #f0f0f0;
}

/*--------------- 富文本编辑器样式 */
pre {
  display: block;
  background-color: #283646;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}
pre > code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
}
img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100%;
  box-shadow: 0 0 10px #adadad;
  border-radius: 0.5rem;
}

code {
  display: inline-block;
  background-color: #fff5f5;
  border: 1px solid #fae0e0;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ff502c;
  margin: 0px 3px;
  text-indent: 0;
}
blockquote {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-left: 0.3rem solid #d3e1ee !important;
  border: 1px solid #eee;
  box-shadow: 0.4rem 0.4rem 0.7rem rgba(238, 238, 238, 0.938);
}
blockquote > p:last-child {
  margin-bottom: 0 !important;
}
/* -------------------- */
.date-select {
  margin-top: 10px;
}
.ant-drawer-body {
  padding: 0 24px;
}
.text-input {
  margin-bottom: 20px;
}
.button-margin {
  margin-right: 10px;
}
.switch-input {
  height: 36px;
  line-height: 36px;
}
