.bread-div {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

.detailed-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}

.center {
  text-align: center;
}

.detailed-content {
  padding: 0.6rem;
  font-size: 1rem;
}
.detailed-content img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100%;
  box-shadow: 0 0 10px #adadad;
  border-radius: 0.5rem;
}
.detailed-content h1 {
  font-weight: 700;
  font-size: 1.7rem;
}
.detailed-content h2 {
  font-weight: 700;
  font-size: 1.4rem;
}
.detailed-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

pre {
  display: block;
  background-color: #f3f3f3;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}

pre {
  background-color: #283646 !important;
}

pre > code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
}

code {
  display: inline-block;
  background-color: #fff5f5;
  border: 1px solid #fae0e0;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ff502c;
  margin: 0px 3px;
}

.title-anchor {
  color: #888 !important;
  padding: 4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: 0.7rem !important;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  color: rgb(30, 144, 255) !important;
}

.nav-title {
  text-align: center;
  color: #888;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(30, 144, 255);
}

.article-menu {
  font-size: 12px;
}

iframe {
  height: 34rem;
}
.title-level3 {
  display: none !important;
}

.ant-anchor-link-title {
  font-size: 12px !important;
}

.ant-anchor-wrapper {
  padding: 5px !important;
}
