/*  */
body {
  background-color: #f6f6f6 !important;
}
.ant-row {
  overflow: hidden;
}
.comm-main {
  padding-top: 3.7rem;
  min-height: 100vh;
}
.comm-right {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  height: 100%;
}
.comm-left {
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
.comm-box {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 2px solid #eee;
}

.list-title {
  font-size: 1.5rem;
  color: #1e90ff;
  padding: 0 0.5rem;
  text-align: center;
}

.list-context {
  color: #777;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  overflow: hidden;
  margin-bottom: 15px;
}

.list-icon {
  padding: 0.5rem 0;
  color: #aaa;
  text-align: center;
}
.list-icon span {
  margin: 0.2rem;
}
.list-icon > span {
  display: inline-block;
  margin-right: 1rem;
}
.list-button {
  text-align: center;
}
.bread-crumb {
  background-color: #e1f0ff;
  border-radius: 0.5rem;
  border: #d1e8fc solid 0.1rem;
}
.ant-breadcrumb {
  padding: 0.3rem 0.6rem !important;
  margin: 0.5rem !important;
}
/* -------------hightlight配置 */
p {
  text-indent: 2rem;
}
pre {
  display: block;
  background-color: #1e1e1e;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}

.list-context img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100%;
  box-shadow: 0 0 10px #adadad;
  border-radius: 0.5rem;
}

pre > code {
  border: 0px !important;
  background-color: #1e1e1e !important;
  color: #fff;
}

code {
  display: inline-block;
  background-color: #fff5f5;
  border: 1px solid #fae0e0;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ff502c;
  margin: 0px 3px;
  text-indent: 0;
}

.title-anchor {
  color: #888 !important;
  padding: 4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: 0.7rem !important;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

blockquote {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-left: 0.3rem solid #d3e1ee !important;
  border: 1px solid #eee;
  box-shadow: 0.4rem 0.4rem 0.7rem rgba(238, 238, 238, 0.938);
}
.hljs-comment {
  color: #6a9955 !important;
}
blockquote > p:last-child {
  margin-bottom: 0 !important;
}
.active {
  color: rgb(30, 144, 255) !important;
}

.nav-title {
  text-align: center;
  color: #888;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(30, 144, 255);
}

.article-menu {
  font-size: 12px;
}

iframe {
  height: 34rem;
}
.title-level3 {
  display: none !important;
}

.ant-anchor-link-title {
  font-size: 12px !important;
}

.ant-anchor-wrapper {
  padding: 5px !important;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}
.ant-timeline-item-content {
  width: calc(50% - 20px) !important;
}
