.bread-div {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

.detailed-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.center {
  text-align: center;
}

.detailed-content {
  padding: 0.6rem;
  font-size: 1rem;
}
.detailed-content img {
  display: block;
  margin: 0 auto 25px;
  max-width: 100%;
  box-shadow: 0 0 10px #adadad;
  border-radius: 0.5rem;
}
.detailed-content h1 {
  font-weight: 700;
  font-size: 1.7rem;
}
.detailed-content h2 {
  font-weight: 700;
  font-size: 1.4rem;
}
.detailed-content h3 {
  font-weight: 700;
  font-size: 1.2rem;
}
